{% extends 'base.html' %}
{% block title %}Просмотр выполняемых услуг{% endblock %}
{% block content %}

<style>
    .container {
        max-width: 1100px;
        margin: 0 auto;
    }

    .table {
        width: 100%;
        margin-bottom: 1rem;
        color: #212529;
        border-collapse: collapse;
    }

    .table th, .table td {
        padding: 0.75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }

    .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
    }

    .table tbody + tbody {
        border-top: 2px solid #dee2e6;
    }

    .table-hover tbody tr:hover {
        color: #495057;
        background-color: rgba(0, 0, 0, 0.075);
    }

    .price-tag {
        background: linear-gradient(45deg, #6a11cb 0%, #2575fc 100%);
        color: white;
        padding: 5px 10px;
        font-size: 1.25rem;
        font-weight: bold;
        border-radius: 5px;
        transition: background-color 0.6s;
        display: inline-block;
        width: 180px;
        text-align: center;
    }

    .price-tag:hover {
        background: linear-gradient(45deg, #2575fc 0%, #6a11cb 100%);
    }

    .btn-custom {
        background-color: #6a11cb;
        color: white;
        border: none;
        padding: 10px 20px;
        transition: background-color 0.4s, transform 0.6s;
        margin-top: auto;
    }

    .btn-custom:hover {
        background-color: #2575fc;
        color: black;
        transform: translateY(-2px);
    }

    .header-buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-buttons a {
        margin-right: 10px;
    }
</style>

<div class="container">
    <div class="header-buttons my-4">
        <h1>Выполнение услуг</h1>
        <a href="{% url 'cart:create_service_execution' %}" class="btn btn-custom">Создать услугу</a>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Заказ</th>
                <th>Дата выполнения</th>
                <th>Примечание</th>
                <th>Сотрудник</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
            {% for service_execution in service_executions %}
                <tr>
                    <td>{{ service_execution.order.customer.email }} - {{ service_execution.order.created|date:"d.m.Y" }}</td>
                    <td>{{ service_execution.execution_date|date:"d.m.Y" }}</td>
                    <td>{{ service_execution.note }}</td>
                    <td>{{ service_execution.employee }}</td>
                    <td>
                        <a href="{% url 'cart:edit_service_execution' service_execution.id %}" class="btn btn-info">Редактировать</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
