{% extends 'account/base.html' %}
{% load static %}

{% block title %}Вход на сайт{% endblock %}

{% block form %}
<style>
    body, html {
        height: 100%;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f5f5f5;
    }

    .form-signin {
        width: 320px;
        padding: 20px;
        margin: 20px auto;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        border-radius: 8px;
    }

    .form-control {
        margin-bottom: 10px;
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

.btn-primary {
  color: #fff;
  border-color: #6a11cb;
  background-image: linear-gradient(45deg, #6a11cb, #2575fc, #6a11cb);
  background-size: 300% 300%;
  transition: color .3s, border-color .3s;
  animation: GradientWave 3s ease infinite;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
}

@keyframes GradientWave {
    0%, 100% {
        background-position: 0% 50%;
        filter: brightness(1) saturate(1);
    }
    50% {
        background-position: 100% 50%;
        filter: brightness(1.2) saturate(1.5);
    }
}

</style>

<div>
    {% if user.is_anonymous %}
    {% csrf_token %}
    <form class="form-signin" method="post" action="{% url 'login_main' %}">

        {% if form.errors %}
            <p class="alert-danger">Ваше имя пользователя и пароль не совпадают!!!<br>
                Пожалуйста, попробуйте еще раз.</p>
        {% endif %}

        <input type="hidden" name="next" value="{{ next }}">
        <img class="mb-4" src="{% static 'logo_main.svg' %}" alt="" width="90" height="80">
        {% csrf_token %}

        <h1 class="h3 mb-3 font-weight-normal">Вход</h1>

        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email" name="username"
             value="" required="" autofocus="" data-cip-id="inputEmail">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Пароль"
             name="password" required="" data-cip-id="inputPassword">

        <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
    </form>
{#        <p>Вы еще не зарег...</p>#}
        <a role="button" href="{% url 'register'%}?next={{request.path}}">Вы еще не зарегистрированы?</a>
    {% else %}
        <p class="text-success">{{ user|upper }}, Вы уже зарегистрированы. <br> <a href="/">На главную.</a></p>
    {% endif %}
        <p class="mt-5 mb-3 text-muted">{% include 'footer.html' %}</p>
    </div>
{% endblock %}
